<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:dataTable value="#{userListView.users}" var="user">
            <h:column>
                #{user.name}
            </h:column>
            <h:column>
                #{user.surname}
            </h:column>
        </h:dataTable>
        <h:link outcome="save.xhtml" value="Kaydet" /> 
    </h:body>
</html>

